.input-field__component{
    border: 1px solid gray;
    border-radius: 20px;
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 240px;
    margin: 20px;
}
.input-field__input-component{
    flex: 1;
    padding: 4px;
    margin: 4px;
    border: none;
    outline: none;
}

.svg{
    width: 20px;
    height: 20px;
}

.btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}